// Fonts licensed to Masen Furer via fontspring.com
@font-face {
  font-family: 'refrigeratordeluxe-regular';
  src: url('/assets/fonts/refrigeratordeluxe-regular-webfont.woff2') format('woff2'),
  url('/assets/fonts/refrigeratordeluxe-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'refrigeratordeluxe-bold';
  src: url('/assets/fonts/refrigeratordeluxe-bold-webfont.woff2') format('woff2'),
  url('/assets/fonts/refrigeratordeluxe-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'refrigeratordeluxe-extrabold';
  src: url('/assets/fonts/refrigeratordeluxe-extrabold-webfont.woff2') format('woff2'),
  url('/assets/fonts/refrigeratordeluxe-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
